body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.well {
  margin-left: 2em;
  margin-right: 2em;
}

.sessions {
  margin-left: 5vw;
  margin-right: 5vw;
  padding-right: 2em;
}
